addict
aiohttp
albumentations
clip-interrogator
cmake
colour-science
einops
fairscale>=0.4.4
fal
filelock
ftfy
fvcore
git+https://github.com/WASasquatch/cstr
git+https://github.com/WASasquatch/ffmpy.git
git+https://github.com/WASasquatch/img2texture.git
GitPython
gitpython
httpx
httpx-sse
huggingface_hub
imageio-ffmpeg
importlib_metadata
insightface==0.7.3
joblib
matplotlib
mediapipe
numba
numexpr
numpy>=1.18.5
numpy<1.25.0
omegaconf
onnx>=1.14.0
onnxruntime
opencv-python>=4.7.0.72
opencv-python-headless[ffmpeg]<=4.7.0.72
pandas
piexif
pilgram
Pillow
psutil
python-dateutil
pyyaml
rembg
safetensors>=0.3.0
scikit-image==0.20.0
scikit-learn
scipy
segment-anything
segment_anything
simpleeval
sse-starlette
svglib
timm>=0.4.12
torch
torchsde
torchvision
tqdm
transformers==4.26.1
trimesh[easy]
ultralytics
websocket-client
yacs
yapf
